string based assignments

In [8]:
# 1.Program to reverse a string
s=input("Enter the string:")
print("Reverse of a string is:",s[::-1])

Enter the string: bhushan

Reverse of a string is: nahsuhb

In [18]:
#2. program to check palindrome or not
s1=input("Enter the string:")
s2=s1[::-1] # store original string
if s1==s2:
    print("string is palindrome")
else:
      print("string is not palindrome")

Enter the string: nitin

string is palindrome

In [20]:
#3.convert a string to uppercase
s=input("Enter the string:")
print("uppercase string is:",s.upper())

Enter the string: ishan bhalerao

uppercase string is: ISHAN BHALERAO

In [21]:
#4.convert a string to lowercase
s=input("Enter the string:")
print("lowercase string is:",s.lower())

Enter the string: ISHAN BHALERAO

lowercase string is: ishan bhalerao

In [36]:
#5 count the no of vowels in a string.
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string: ISHAN BHALERAO

Number of vowels are:
6

In [41]:
#6 count the no of CONSONANTS in a string.
string=input("Enter string:")
vowels=0
consonants=0
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels=vowels+1
    else:
        consonants=consonants+1
    
print("Number of consonants are:")
print(consonants)

Enter string: ishan

Number of consonants are:
3

In [44]:
#7. Remove all the white spaces in a string
string=input("Enter string:")
print("After removing white spaces a string is:",string.replace(" ",""))

Enter string: this is my first python script

After removing white spaces a string is: thisismyfirstpythonscript

In [49]:
#8. Find the length of a function without using len()
c=0
string=input("Enter string:")
for i in string:
    c=c+1
print("Length of a string is:",c)

Enter string: ishan

Length of a string is: 5

In [24]:
#9. checkif a string contains a specific word
sentence="Welcome to pwskills"
word="To"
if word in sentence:
    print("word is present")
else:
     print("word is not present")

word is not present

In [28]:
#10. Replace a word with another word

sentence="Welcome to pwskills"
word="to"
if word in sentence:
    new_sentence=sentence.replace("to","To")
else:
     print("word is not present")
print(new_sentence)

Welcome To pwskills

In [33]:
#11. Find the number of occourances a word
sentence="Welcome to pwskills and join to our data science course"
occourance=sentence.count("to")
print("No of occourances of a word is:",occourance)

No of occourances of a word is: 2

In [34]:
#12. Find the first occourance of a word in a string
sentence="Welcome to pwskills and join to our data science course"
firstIndex=sentence.index("to")
print("First Index of a word is:",firstIndex)

First Index of a word is: 8

In [35]:
#13. Find the Last occourance of a word in a string
sentence="Welcome to pwskills and join to our data science course"
lastIndex=sentence.rindex("to")
print("Last Index of a word is:",lastIndex)

Last Index of a word is: 29

In [37]:
#14. split a string into a list of word
sentence="Welcome to pwskills and join to our data science course"
splitWords=sentence.split(" ")
print("After spliting words are:",splitWords)

After spliting words are: ['Welcome', 'to', 'pwskills', 'and', 'join', 'to', 'our', 'data', 'science', 'course']

In [38]:
#15.Join a list of words into a string 

list_1 = ['Hello', 'world', '!', 'This', 'is', 'Python'] 
separator = ' ' 
result = separator.join(list_1) 
print(result)

Hello world ! This is Python

In [3]:
#16. Python program to Convert a string where words are separated by spaces to one where words
#are separated by underscores.
string="This is my python program"
print("string is:",string.replace(" ","_"))

string is: This_is_my_python_program

In [5]:
#17. Python program to Check if a string starts with a specific word or phrase.
string="This is my python program"
print(string.startswith("This"))
print(string.startswith("this"))

True
False

In [8]:
#18.Python Program to Check if a string ends with a specific word or phrase.
string="This is my python program"
print(string.endswith("Program"))
print(string.endswith("program"))

False
True

In [9]:
#19.Python program to Convert a string to title case
string="This is my python program"
print(string.title())

This Is My Python Program

In [15]:
#20. Python program to Find the longest word in a string.
sentence = input("Enter sentence: ")
# Finding longest word
longest = max(sentence.split(), key=len)

# Displaying longest word
print("Longest word is: ", longest)
print("And its length is: ", len(longest))

Enter sentence:  my name is ishan bhalerao

Longest word is:  bhalerao
And its length is:  8

In [16]:
#21. Python program to Find the smallest word in a string.
sentence = input("Enter sentence: ")
# Finding Shortest word
shortest = min(sentence.split(), key=len)

# Displaying Shortest word
print("Shortest word is: ", shortest)
print("And its length is: ", len(shortest))

Enter sentence:  my name is ishan bhalerao

Shortest word is:  my
And its length is:  2

In [20]:
#22. Python program to Reverse the order of words in a string.
sentence = input("Enter sentence: ")
splited_words=sentence.split()
rev_words=splited_words[::-1]
rev_words

Enter sentence:  ishan bhalerao

['bhalerao', 'ishan']

In [22]:
#23. Python program to Check if a string is alphanumeric.

sentence = input("Enter sentence: ")
print(sentence.isalnum())

Enter sentence:  ishan123

True

In [27]:
#24. Python Program to Extract all digits from a string.

test_string = "There are 2 apples for 4 persons"
print("original string is:",test_string)
num = " "
for c in test_string:
    if c.isdigit():
        num = num + c
print("Extracted numbers from the list : " + num)

original string is: There are 2 apples for 4 persons
Extracted numbers from the list :  24

In [31]:
#25.Python program to Extract all alphabets from a string.

test_string = "There are 2 apples for 4 persons"
print("original string is:",test_string)
num = " "
for c in test_string:
    if c.isalpha():
        num = num + c
print("Extracted alphabets from the list : " + num )

original string is: There are 2 apples for 4 persons
Extracted numbers from the list :  Thereareapplesforpersons

In [34]:
#26. Python program to Count the number of uppercase letters in a string.
string="THIS IS UPPERCASE LETTER STRING"
c=0
for i in string:
    if(i.isupper()):
        c=c+1
        
print("The number of uppercase characters is:")
print(c)

The number of uppercase characters is:
27

In [6]:
#27. Python program to Count the number of uppercase letters in a string.
string="this is lowercase letter string in python"
c=0
for i in string:
    if(i.islower()):
        c=c+1
        
print("The number of lowercase characters is:")
print(c)

The number of lowercase characters is:
35

In [8]:
#28. Python program to Swap the case of each character in a string.
string="this is example of swap case letter string in python"

string1="THIS IS SWAPCASE LETTER STRING IN PYTHON"

print("swap case string is:",string.swapcase())
print("swap case string is:",string1.swapcase())

swap case string is: THIS IS LOWERCASE LETTER STRING IN PYTHON
swap case string is: this is uppercase letter string

In [14]:
#29. python program to Remove a specific word from a string.
string="This is test strting"
new_string=string.replace("test"," ")
print("New string is:",new_string)

New string is: This is   strting

In [19]:
#30. Python program to Check if a string is a valid email address.
import re
email = "example@domain.com"  
if re.match(r"[^@]+@[^@]+\.[^@]+", email):
    print("valid email address") 
else:
    print("email not valid")

valid email address

In [21]:
#31. Python Program to Extract the username from an email address string.

email=input("enter the email\n")
# original string is printed
print("The original string is : " + str(email))
# slicing domain name using slicing
res = email[:email.index('@') ]
# finding the length of the sliced string
length_of_the_string=len(res)
final_string=res+str(length_of_the_string)
# printing result
print("The extracted username with lenght is : " + str(final_string))

enter the email
 ishan.bhalerao18@gmail.com

The original string is : ishan.bhalerao18@gmail.com
The extracted username with lenght is : ishan.bhalerao1816

In [23]:
#32. Python program to Extract domain name from Email address

# initializing strings
test_str = 'ishan.bhalerao18@gmail.com'

# printing original string
print("The original string is : " + str(test_str))

# slicing domain name using slicing 
res = test_str[test_str.index('@') + 1 : ]

# printing result 
print("The extracted domain name : " + str(res))

The original string is : ishan.bhalerao18@gmail.com
The extracted domain name : gmail.com

In [25]:
# 33. Python program to Replace multiple spaces in a string with a single space.

my_str = '   this    is      test             atring'
# âœ… replace multiple whitespace characters with single space
result = " ".join(my_str.split())
print(repr(result))

'this is test atring'

In [34]:
#34. Python program to Check if a string is a valid URL.
url=input("Enter URL:")
pattern = r'^(http|https):\/\/([\w.-]+)(\.[\w.-]+)+([\/\w\.-]*)*\/?$'
print(bool(re.match(pattern, url)))

Enter URL: https://www.google.com

True

In [37]:
#35. Python program to Extract the protocol (http or https) from a URL string.
url=input("Enter URL:")
pattern = r"^(?P<protocol>https?)://(?P<hostname>[^/]+)"
match = re.search(pattern, url)
if match:
    protocol = match.group("protocol")
    
print("protocol is:",protocol)

Enter URL: https://www.google.com

protocol is: https

In [40]:
#36. python program to Find the frequency of each character in a string.

string = "pwskills"

for i in string:
    frequency = string.count(i)
    print(str(i) + ": " + str(frequency), end=", ")

p: 1, w: 1, s: 2, k: 1, i: 1, l: 2, l: 2, s: 2,

In [41]:
#37. python program to Remove all punctuation from a string.

# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

my_str = "Hello!!!, he said ---and went."

# To take input from the user
# my_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in my_str:
   if char not in punctuations:
       no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

Hello he said and went

In [43]:
#38. python program to Check if a string contains only digits.

# Initialising string
string=input("Enter string:")
if string.isdigit():
    print("string contains all the numbers...")
else:
    print("string doesn't contains all the numbers...")

Enter string: asd34

string doesn't contains all the numbers...

In [46]:
#39. python program Check if a string contains only alphabets.
string=input("Enter string:")
if string.isalpha():
    print("string contains all the alphabets...")
else:
    print("string doesn't contains all the alphabets...")

Enter string: ishan123

string doesn't contains all the alphabets...

In [50]:
#40. python program to Convert a string to a list of characters

string=input("Enter string:")
l= []
for letter in string:
    l.append(letter)
    
print(l)

Enter string: ishan

['i', 's', 'h', 'a', 'n']

In [54]:
#41. python program to Check if two strings are anagrams

s1=input("Enter string:")
s2=input("Enter string:")
if(sorted(s1)== sorted(s2)):
    print("The strings are anagrams.") 
else:
    print("The strings aren't anagrams.")

Enter string: listen
Enter string: silen

The strings aren't anagrams.

In [71]:
#42. python program to Encode a string using a Caesar cipher 

def caesar_encrypt(realText, step):
    outText = []
    cryptText = []

    uppercase = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
    lowercase = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

    for eachLetter in realText:
        if eachLetter in uppercase:
            index = uppercase.index(eachLetter)
            crypting = (index + step) % 26
            cryptText.append(crypting)
            newLetter = uppercase[crypting]
            outText.append(newLetter)
        elif eachLetter in lowercase:
            index = lowercase.index(eachLetter)
            crypting = (index + step) % 26
            cryptText.append(crypting)
            newLetter = lowercase[crypting]
            outText.append(newLetter)
    return outText

code = caesar_encrypt('abc', 2)
print()
print(code)
print()

['c', 'd', 'e']

Enter the message i.e to be decrypted:  KYZJ ZJ R MVIP TFFC DVJJRXV
Enter the key to decrypt:  10

Your decrypted message is:

KYZJ ZJ R MVIP TFFC DVJJRXV

In [8]:
#43. python program to Decode a Caesar cipher encoded string

shift = 3 # defining the shift count

encrypted_text = input("Enter encrypted text")

plain_text = ""

for c in encrypted_text:

    # check if character is an uppercase letter
    if c.isupper():

        # find the position in 0-25
        c_unicode = ord(c)

        c_index = ord(c) - ord("A")

        # perform the negative shift
        new_index = (c_index - shift) % 26

        # convert to new character
        new_unicode = new_index + ord("A")

        new_character = chr(new_unicode)

        # append to plain string
        plain_text = plain_text + new_character

    else:

        # since character is not uppercase, leave it as it is
        plain_text += c

print("Encrypted text:",encrypted_text)

print("Decrypted text:",plain_text)#*shift = 3 defining the shift count

encrypted_text = "KHOOR ZRUOG"

plain_text = ""

for c in encrypted_text:

    # check if character is an uppercase letter
    if c.isupper():

        # find the position in 0-25
        c_unicode = ord(c)

        c_index = ord(c) - ord("A")

        # perform the negative shift
        new_index = (c_index - shift) % 26

        # convert to new character
        new_unicode = new_index + ord("A")

        new_character = chr(new_unicode)

        # append to plain string
        plain_text = plain_text + new_character

    else:

        # since character is not uppercase, leave it as it is
        plain_text += c

print("Encrypted text:",encrypted_text)

print("Decrypted text:",plain_text)

Enter encrypted text python program

Encrypted text: python program
Decrypted text: python program
Encrypted text: KHOOR ZRUOG
Decrypted text: HELLO WORLD

In [9]:
#44. python program to Find the most frequent word in a string.

from collections import defaultdict
my_list = ["python is best for coders", "python is fun", "python is easy to learn"]

print("The list is :")
print(my_list)

my_temp = defaultdict(int)

for sub in my_list:
   for word in sub.split():
      my_temp[word] += 1

result = max(my_temp, key=my_temp.get)

print("The word that has the maximum frequency :")
print(result)

The list is :
['python is best for coders', 'python is fun', 'python is easy to learn']
The word that has the maximum frequency :
python

In [4]:
# 45. python program to Find all unique words in a string

# Use open method to open the respective text file
file = "THIS IS THE STRING TO TEST,THIS PROGRAM COUNTS UNIQUE WORDS"
#Conversion of its content to lowercase
thegiventxtfile = file.lower()

#ALter the sentences to the list of words
words_in_file = thegiventxtfile.split()

print("The given txt file content is :\n")
print(thegiventxtfile)
print("\nThe words given in the txt file are :\n")
print(words_in_file)
print("\nThe unique words given in this txt file are :\n")

#Convert to the python set
uniqueWords=set(words_in_file)

print(uniqueWords) 

#Find the number of words left in this list
numberofuniquewords=len(uniqueWords)

print("\nThe number of unique words given in this txt file are :\n")
print(numberofuniquewords)

The given txt file content is :

this is the string to test,this program counts unique words

The words given in the txt file are :

['this', 'is', 'the', 'string', 'to', 'test,this', 'program', 'counts', 'unique', 'words']

The unique words given in this txt file are :

{'to', 'is', 'counts', 'string', 'test,this', 'program', 'unique', 'words', 'this', 'the'}

The number of unique words given in this txt file are :

10

In [6]:
# 46. Python program to count the syllables in a word

def count(word):
    syllables = 1
    for letter in word:
        if letter == "-":
            syllables = syllables + 1
    return syllables

count("Ishan Bhalerao")

1

In [7]:
# 47. Python program to Check if a string contains any special characters

s = "@geeksforgeeks%"
arr= ["o","e","%"]
new_list=[]
for i in arr:
	if(s.find(i)>0):
		new_list.append(True)
	else:
		new_list.append(False)
print(new_list)

[True, True, True]

In [11]:
# 48. Python program to Remove the nth word from a string

# Python3 program to remove Nth
# occurrence of the given word

# Function to remove Ith word


def RemoveIthWord(list, word, N):
	count = 0

	for i in range(0, len(list)):
		if (list[i] == word):
			count = count + 1

			if(count == N):
				del(list[i])
				return True

	return False


# Driver code
list = ['geeks', 'for', 'geeks']
word = 'geeks'
N = 2

flag = RemoveIthWord(list, word, N)

if (flag == True):
	print("Updated list is: ", list)
else:
	print("Item not Updated")

Updated list is:  ['geeks', 'for']

In [12]:
# 49 Python program to Insert a word at the nth position in a string.

# input string
inputString = "tutorialsoint"

# adding character 'p' at a specific position i.e, at index 9
inputString = inputString[:9] + 'p' + inputString[9:]

# printing the resultant string 
print("Adding 'p' at 9th index of an input string:\n", inputString)

Adding 'p' at 9th index of an input string:
 tutorialspoint

In [15]:
# 50. Python program to Convert a CSV string to a list of lists.

def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

Lists Based Assignments

In [16]:
# 1.Create a list with integers from 1 to 10.
l=[i for i in range(1,11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
# 2. Find the length of a list without using the `len()` function

list =['ishan','bhalerao',1,2,3,9.6]
list
count=0
for i in list:
    count=count+1
print("No of items in a list:",count)

No of items in a list: 6

In [4]:
#3. Append an element to the end of the list
list =['ishan','bhalerao',1,2,3,9.6]
list
list.append("True")
list

['ishan', 'bhalerao', 1, 2, 3, 9.6, 'True']

In [5]:
#4. Insert an element at a specific index in a list.
list =['ishan','bhalerao',1,2,3,9.6]
list.insert(2,"pwskills")
list

['ishan', 'bhalerao', 'pwskills', 1, 2, 3, 9.6]

In [8]:
#5. Remove an element from a list by its value
list =['ishan','bhalerao',1,2,3,9.6]
list.remove(3)
list

['ishan', 'bhalerao', 1, 2, 9.6]

In [11]:
#6. Remove an element from a list by its index.

list =['ishan','bhalerao',1,2,3,9.6]
list.pop(3)
list

['ishan', 'bhalerao', 1, 3, 9.6]

In [22]:
#7. Check if an element exists in a list.
f=0
list =['ishan','bhalerao',1,2,3,9.6]
for i in list:
    if "ishan" in list:
        f=1
    else:
        f=0
if f==1:
     print("element found")
else:
     print("element not found")

element found

In [24]:
#8. Find the index of the first occurrence of an element in a list.
list =['ishan','bhalerao',1,2,3,9.6,"ishan"]
print(list.index("ishan"))

0

In [25]:
#9. Count the occurrences of an element in a list.
list =['ishan','bhalerao',1,2,3,9.6,"ishan"]
print(list.count("ishan"))

2

In [29]:
#10. Reverse the order of elements in a list.
list =['ishan','bhalerao',1,2,3,9.6,"ishan"]
list.reverse()
list

['ishan', 9.6, 3, 2, 1, 'bhalerao', 'ishan']

In [31]:
#11. Sort a list in ascending order.
list =[1,2,3,9.6,-4,4]
list.sort()
list

[-4, 1, 2, 3, 4, 9.6]

In [32]:
#12. Sort a list in descendingorder.
list =[1,2,3,9.6,-4,4]
list.sort(reverse=True)
list

[9.6, 4, 3, 2, 1, -4]

In [33]:
#13. Create a list of even numbers from 1 to 20.
l=[i for i in range(1,21) if i%2==0]
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [35]:
#14. Create a list of even numbers from 1 to 20.
l=[i for i in range(1,21) if i%2!=0]
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [36]:
#15. Find the sum of all elements in a list.
l=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in l:
    sum=sum+i
print("sum is=",sum)

sum is= 55

In [38]:
#16. Find the maximum value in a list.
l=[1,2,3,4,5,6,7,8,9,10]
print("Max is:",max(l))

Max is: 10

In [39]:
#17. Find the minimum value in a list.
l=[1,2,3,4,5,6,7,8,9,10]
print("Min is:",min(l))

Min is: 1

In [40]:
#18. Create a list of squares of numbers from 1 to 10.
l=[1,2,3,4,5,6,7,8,9,10]
square_list=[i*i for i in l]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
#19. Create a list of random numbers

import random

rand_list=[]
n=10
for i in range(n):
	rand_list.append(random.randint(3,9))
print(rand_list)

[4, 6, 5, 4, 7, 7, 3, 9, 7, 3]

In [1]:
#20. Remove duplicates from a list.

# initializing list 
# removing duplicated from the list using naive methods 

# initializing list 
sam_list = [11, 13, 15, 16, 13, 15, 16, 11] 
print ("The list is: " + str(sam_list)) 

# remove duplicated from list 
result = [] 
for i in sam_list: 
    if i not in result: 
        result.append(i) 

# printing list after removal 
print ("The list after removing duplicates : " + str(result))

The list is: [11, 13, 15, 16, 13, 15, 16, 11]
The list after removing duplicates : [11, 13, 15, 16]

In [3]:
#21. Find the common elements between two lists.
a= [2,3,4,5]
b= [3,4,6,7]

c=set(a).intersection(set(b))
list(c)

[3, 4]

In [10]:
#22. Find the difference between two lists.
a= [2,3,4,5]
b= [3,4,6,7]
c=[]
for i in a:
    if i not in b:
        c.append(i)
c     

# second way
a= [2,3,4,5]
b= [3,4,6,7]
c=[]
c=set(a).difference(set(b))
list(c)

[2, 5]

In [12]:
#23. Merge two lists.

a= [2,3,4,5]
b= [3,4,6,7]
c=[]
for i in b:
    a.append(i)
    
print ("Concatenated list using naive method : "+ str(a))

Concatenated list using naive method : [2, 3, 4, 5, 3, 4, 6, 7]

In [13]:
#24. Multiply all elements in a list by 2.
a=[1,2,3,4,5]
b=[i*2 for i in a]
b

[2, 4, 6, 8, 10]

In [14]:
#25. Filter out all even numbers from a list.

a=[1,2,3,4,5]
b=[i for i in a if i%2==0]
b

[2, 4]

In [19]:
#26. Convert a list of strings to a list of integers.

a=["1","2","3","4"]
b=[eval(i) for i in a]
b

[1, 2, 3, 4]

In [21]:
#27. Convert a list of integers to a list of strings.

a=[1,2,3,4]
b=[str(i) for i in a]
b

['1', '2', '3', '4']

In [22]:
#28. Flatten a nested list.

my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = []
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [34]:
#29. Create a list of the first 10 Fibonacci numbers.
num = 10
n1, n2 = 0, 1
f=[]
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3,end=" ")
    
print()

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

In [5]:
#30. Check if a list is sorted.
# Python3 code to demonstrate 
# to check if list is sorted
# using sorted()

# initializing list
test_list = [1, 4, 5, 8, 10]

# printing original list 
print ("Original list : " + str(test_list))

# using sorted() to 
# check sorted list 
flag = 0
if(test_list == sorted(test_list)):
	flag = 1
	
# printing result
if (flag) :
	print ("Yes, List is sorted.")
else :
	print ("No, List is not sorted.")

Original list : [1, 4, 5, 8, 10]
Yes, List is sorted.

In [6]:
#31. Rotate a list to the left by `n` positions.
# initializing list
test_list = [1, 4, 6, 7, 2]

# printing original list
print ("Original list : " + str(test_list))

# using slicing to left rotate by 3
test_list = test_list[3:] + test_list[:3]

# Printing list after left rotate
print ("List after left rotate by 3 : " + str(test_list))

# using slicing to right rotate by 3
# back to Original
test_list = test_list[-3:] + test_list[:-3]

# Printing after right rotate
print ("List after right rotate by 3(back to original) : "
										+ str(test_list))

Original list : [1, 4, 6, 7, 2]
List after left rotate by 3 : [7, 2, 1, 4, 6]
List after right rotate by 3(back to original) : [1, 4, 6, 7, 2]

In [7]:
#32. Rotate a list to the right by `n` positions.

# Python program to right rotate 
# a list by n using list slicing
n = 3

list_1 = [1, 2, 3, 4, 5, 6]
list_1 = (list_1[len(list_1) - n:len(list_1)] 
				+ list_1[0:len(list_1) - n])
print(list_1)

[4, 5, 6, 1, 2, 3]

In [11]:
#33. Create a list of prime numbers up to 50.

print([i for i in range(2, 50) if 0 not in [i%n for n in range(2, i)]])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [12]:
#34. Split a list into chunks of size `n`.

my_list = [1, 2, 3, 4, 5, 
		6, 7, 8, 9] 
start = 0
end = len(my_list) 
step = 3
for i in range(start, end, step): 
	x = i 
	print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [14]:
#35. Find the second largest number in a list.
# Python program to find largest number
# in a list

# List of numbers
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]

# Removing duplicates from the list
list2 = list(set(list1))

# Sorting the list
list2.sort()

# Printing the second last element
print("Second largest element is:", list2[-2])

Second largest element is: 45

In [16]:
#36. Replace every element in a list with its square.
l=[1,2,3,4,5]
new_l=[i*i for i in l]
l=new_l
l

[1, 4, 9, 16, 25]

In [17]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values

vegetables = ['Carrot', 'Raddish', 'Brinjal', 'Potato']

veg_dict = dict(enumerate(vegetables))
print(veg_dict)

{0: 'Carrot', 1: 'Raddish', 2: 'Brinjal', 3: 'Potato'}

In [21]:
#38. Shuffle the elements of a list randomly.
import random

test_list = [1, 4, 5, 6, 3]

print("The original list is : " + str(test_list))

# using random.shuffle() to shuffle a list
random.shuffle(test_list)

print("The shuffled list is : " + str(test_list))

The original list is : [1, 4, 5, 6, 3]
The shuffled list is : [5, 6, 3, 1, 4]

In [26]:
#39. Create a list of the first 10 factorial numbers.
def factorial(n):
    num=1
    for i in range(1,n+1):
        num*=i
    return num

factorial_nums=[factorial(i) for i in range(1,11)]
print(factorial_nums)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [27]:
#40. Check if two lists have at least one element in common. 
# if two lists have at-least 
# one element common
# using traversal of list

def common_data(list1, list2):
	result = False

	# traverse in the 1st list
	for x in list1:

		# traverse in the 2nd list
		for y in list2:

			# if one common
			if x == y:
				result = True
				return result 
				
	return result
	
# driver code
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_data(a, b))

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
print(common_data(a, b))

True
False

In [31]:
#41. Remove all elements from a list.
l=[1,2,3,4,5]
l
l.clear()
l

[]

In [32]:
#42. Replace negative numbers in a list with 0.

# Python code to demonstrate
# to replace negative values with 0
import numpy as np

ini_array1 = np.array([1, 2, -3, 4, -5, -6])

# printing initial arrays
print("initial array", ini_array1)

# code to replace all negative value with 0
result = np.where(ini_array1<0, 0, ini_array1)

# printing result
print("New resulting array: ", result)

initial array [ 1  2 -3  4 -5 -6]
New resulting array:  [1 2 0 4 0 0]

In [37]:
#43. Convert a string into a list of words.

str1 = "Hello Everyone Welcome to python"

print("The given string is")
print(str1)

print("Converting them into list of words")
res = str1.split()
print(res)

The given string is
Hello Everyone Welcome to python
Converting them into list of words
['Hello', 'Everyone', 'Welcome', 'to', 'python']

In [38]:
#44.Convert a list of words into a string.

# Function to convert
def listToString(s):

	# initialize an empty string
	str1 = " "

	# return string
	return (str1.join(s))
	
	
# Driver code
s = ['ishan', 'Bhaskarrao', 'bhalerao']
print(listToString(s))

ishan Bhaskarrao bhalerao

In [54]:
#45. Create a list of the first `n` powers of 2.

n=5
p=[2 ** i for i in range(n)]
print("List of first",n,"powers of 2 numbers is",p)

List of first 5 powers of 2 numbers is [1, 2, 4, 8, 16]

In [56]:
#46. Find the longest string in a list of strings.
l=["welcome","to","python","programming"]
long_str=" "
for i in l:
    if(len(i)>len(long_str)):
        long_str=i
        
print("Longest string is:",long_str)

Longest string is: programming

In [59]:
#47. Find the shortest string in a list of strings.

l=["welcome","to","python","programming"]
short_str=l[0]
for i in l:
    if(len(i)<len(short_str)):
        short_str=i
        
print("shortest string is:",short_str)

shortest string is: to

In [60]:
#48. Create a list of the first `n` triangular numbers.
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [64]:
#49. Check if a list contains another list as a subsequence.
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [65]:
#50. Swap two elements in a list by their indices.

my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

Examples based on Tuples

In [3]:
#1. Create a tuple with integers from 1 to 5.
t=(1,2,3,4,5)
print(t)
type(t)

(1, 2, 3, 4, 5)

tuple

In [5]:
#2. Access the third element of a tuple.
t=(1,2,3,4,5)
t[2]

3

In [6]:
#3. Find the length of a tuple without using the `len()` function.
t=(1,2,3,4,5)
c=0
for i in t:
    c=c+1
print("No of elements in tuple are:",c)

No of elements in tuple are: 5

In [7]:
#4. Count the occurrences of an element in a tuple.
t=(1,2,3,4,5,2,3)
t.count(2)

2

In [8]:
#5. Find the index of the first occurrence of an element in a tuple
t=(1,2,3,4,5,2,3)
t.index(2)

1

In [2]:
#6. Check if an element exists in a tuple.
t=(1,2,3,4,5,2,3)
f=0
n=7
for i in t:
    if t[i]==n:
        f=1
    else:
        f=0
        
if f==1:
    print("element is found")
else:
    print("element is not found")

element is not found

In [4]:
#7. convert a tuple into a list
t=(1,2,3,4,5,2,3)
l=list(t)
l

[1, 2, 3, 4, 5, 2, 3]

In [5]:
#8. convert a list to a tuple
l=[1,2,3,4,5,2,3]
t=tuple(l)
t

(1, 2, 3, 4, 5, 2, 3)

In [6]:
#9. Unpack the elements of a tuple into variables.
# Program to understand about 
# packing and unpacking in Python

# this lines PACKS values
# into variable a
a = ("MNNIT Allahabad", 5000, "Engineering") 

# this lines UNPACKS values
# of variable a
(college, student, type_ofcollege) = a 

# print college name
print(college)

# print no of student
print(student)

# print type of college
print(type_ofcollege)

MNNIT Allahabad
5000
Engineering

In [13]:
#10.Create a tuple of even numbers from 1 to 10.
l=[i for i in range(1,11) if i%2==0]
t1=tuple(l)
t1

(2, 4, 6, 8, 10)

In [14]:
#11. Create a tuple of odd numbers from 1 to 10.
l=[i for i in range(1,11) if i%2!=0]
t1=tuple(l)
t1

(1, 3, 5, 7, 9)

In [15]:
#12. Concatenate two tuples
t1=(1,2,3,4)
t2=(5,6,7,8)
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6, 7, 8)

In [16]:
#13. Repeat a tuple three times.
t1=(1,2,3,4)*2
t1

(1, 2, 3, 4, 1, 2, 3, 4)

In [5]:
#14. Check if a tuple is empty.
t=()
t1=(1,2,3,4)
if not t:
    print("tuple is empty")
else:
    print("tuple is not empty")
    
if not 1:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty
tuple is not empty

In [6]:
#15. Create a nested tuple.
t=((1,2,3),(2.5,2.1,5.6),(True,False,False))
t

((1, 2, 3), (2.5, 2.1, 5.6), (True, False, False))

In [8]:
#16. Access the first element of a nested tuple.
t=((1,2,3),(2.5,2.1,5.6),(True,False,False))
t[0][0]

1

In [9]:
# 17. Create a tuple with a single element.
t=(10,)
t

(10,)

In [12]:
#18. Compare two tuples.
t1=(1,2,3,4)
t2=(1,2,3,4)
print("Tuple is greater or not=",t1>t2)
print("Tuple is smaller or not=",t1<t2)
print("Tuple is equal or not=",t1==t2)

Tuple is greater or not= False
Tuple is smaller or not= False
Tuple is equal or not= True

In [14]:
#19. Delete a tuple
t=(1,2,3,4)
t
del t
t

NameError: name 't' is not defined

In [15]:
# 20. Slice a tuple.
t=(1,2,3,4,5,6,9.6,3.6,2.1,2+3j,True,"pwskills")
t[4:11]

(5, 6, 9.6, 3.6, 2.1, (2+3j), True)

In [16]:
#21. Find the maximum value in a tuple.
t=(10,20,50,30,-2,100)
print("Max value is:",max(t))

Max value is: 100

In [17]:
#22. Find the minimum value in a tuple.
t=(10,20,50,30,-2,100)
print("Min value is:",min(t))

Min value is: -2

In [18]:
#23. Convert a string to a tuple of characters.
s="This is string"
no_of_char=tuple(s)
print("No of characters in a tuple is:",no_of_char)

No of characters in a tuple is: ('T', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g')

In [23]:
# 24. Convert a tuple of characters to a string.
t=('H','i',' ','i','s','h','a','n')
s="".join(t)
print("string is:",s)

string is: Hi ishan

In [24]:
#25. Create a tuple from multiple data types.
t=(1,2,3,4,5,6,9.6,3.6,2.1,2+3j,True,"pwskills")
t

(1, 2, 3, 4, 5, 6, 9.6, 3.6, 2.1, (2+3j), True, 'pwskills')

In [26]:
#26. Check if two tuples are identical.
t1=(1,2,3,4)
t2=(3,4,5,6)
t3=(1,2,3,4)
print("Tuple is equal or not=",t1==t2)
print("Tuple is equal or not=",t1==t3)

Tuple is equal or not= False
Tuple is equal or not= True

In [1]:
#27. Sort the elements of a tuple.
t=(12,54,2,66,43,-9)
print("After sorting:",sorted(t))

After sorting: [-9, 2, 12, 43, 54, 66]

In [3]:
#28.Convert a tuple of integers to a tuple of strings.
t=(1,2,3,4,5)
s=tuple(str(i) for i in t)
print("print tuple of strings:",s)

print tuple of strings: ('1', '2', '3', '4', '5')

In [4]:
#29. Convert a tuple of strings to a tuple of integers.
s=("1","2","3","4","5")
t=tuple(int(i) for i in s)
print("print tuple of integers:",t)

print tuple of integers: (1, 2, 3, 4, 5)

In [5]:
#30. Merge two tuples.
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print("After merging tuple is:",t3)

After merging tuple is: (1, 2, 3, 4, 5, 6)

In [6]:
#31. Flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [7]:
# 32. Create a tuple of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [8]:
#33. Check if a tuple is a palindrome.
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [9]:
# 34. Create a tuple of squares of numbers from 1 to 5.
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [10]:
#35. Filter out all even numbers from a tuple.
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [11]:
#36.Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = tuple(num * 2 for num in original_tuple)

# Print the doubled tuple
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [12]:
#37. Create a tuple of random numbers.
import random
random_tuple=tuple(random.randint(1,100) for _ in range(1,10))
random_tuple

(46, 50, 80, 95, 39, 46, 84, 14, 87)

In [13]:
#38. Check if a tuple is sorted.
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [14]:
#39.Rotate a tuple to the left by n positions.
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [15]:
#40. Rotate a tuple to the right by n positions.
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [16]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [17]:
#42. Create a tuple from user input.
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas:  h,e,l,l,o

User input tuple: ('h', 'e', 'l', 'l', 'o')

In [18]:
#43. Swap two elements in a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [19]:
#44. Reverse the elements of a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [20]:
#45. Create a tuple of the first `n` powers of 2.
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [21]:
#46. Find the longest string in a tuple of strings.
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

In [22]:
#47. Find the shortest string in a tuple of strings.
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [23]:
#48. Create a tuple of the first n triangular numbers.
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [24]:
#49. Check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [25]:
#50. Create a tuple of alternating 1s and 0s of length n.
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

set based problems

In [1]:
#1. Create a set with integers from 1 to 5.
s={1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [2]:
type(s)

set

In [3]:
#2. Add an element to a set.
s={1,2,3,4,5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [4]:
#3. Remove an element from a set.
s={1,2,3,4,5}
s.remove(3)
s

{1, 2, 4, 5}

In [7]:
#4. Check if an element exists in a set.
s={1,2,3,4,5}
i=int(input("Enter element to search"))
if i in s:
    print("Element Exists.") 
else:
     print("Element does not Exists.")

Enter element to search 7

Element does not Exists.

In [9]:
#5. Find the length of a set without using the `len()` function
s={1,2,3,4,5,6,7,8,9}
c=0
for i in s:
    c=c+1
print("Length of a set is:",c)

Length of a set is: 9

In [10]:
#6. Clear all elements from a set.
s={1,2,3,4,5,6,7,8,9}
s
s.clear()
s

set()

In [13]:
#7. Create a set of even numbers from 1 to 10.
l=[i for i in range(1,11) if i%2==0]
s=set(l)
s

{2, 4, 6, 8, 10}

In [14]:
#8. Create a set of odd numbers from 1 to 10.
l=[i for i in range(1,11,2)]
s=set(l)
s

{1, 3, 5, 7, 9}

In [15]:
#9. Find the union of two sets.
a={1,2,3}
b={4,5,6}
print(a.union(b))

{1, 2, 3, 4, 5, 6}

In [16]:
#10. Find the intersection of two sets.
a={1,2,3,4,5}
b={2,4,5}
print(a.intersection(b))

{2, 4, 5}

In [17]:
#11. Find the difference between two sets.
a={1,2,3,4,5}
b={2,4,5}
print(a.difference(b))

{1, 3}

In [19]:
#12. Check if a set is a subset of another set
a={1,2,3,4,5}
b={2,4,5}
print(b.issubset(a))

True

In [21]:
#13. Check if a set is a superset of another set.
a={1,2,3,4,5}
b={2,4,5}
print(a.issuperset(b))

True

In [22]:
#14. Create a set from a list.
l=[1,2,3,4,5]
s=set(l)
s

{1, 2, 3, 4, 5}

In [23]:
#15. Convert a set to a list.
s={1,2,3,4,5}
l=list(s)
l

[1, 2, 3, 4, 5]

In [32]:
#16. Remove a random element from a set.
import random
s={1,2,3,4,5}
r=random.choice(list(s))
s.remove(r)
print(s)

{1, 2, 3, 4}

In [33]:
#17. Pop an element from a set.
s={1,2,3,4}
print(s.pop())

1

In [37]:
#18. Check if two sets have no elements in common.
a={1,2,3}
b={4,5,6}
common=a.intersection(b)
if not common:
     print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common)

The two sets have no elements in common.

In [2]:
#19. Find the symmetric difference between two sets.
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
symmetric_diff=s1 ^ s2
print("Symmetric difference is:",symmetric_diff)

Symmetric difference is: {1, 2, 3, 7, 8, 9}

In [5]:
#20.Update a set with elements from another set.
s1={1,2,3,4,5}
s2={6,7,8,9}
print("set 1:",s1)
print("set 2:",s2)
s1.update(s2)
print("updated set is:",s1)

set 1: {1, 2, 3, 4, 5}
set 2: {8, 9, 6, 7}
updated set is: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
#21. Create a set of the first 5 prime numbers.
def Prime(n):  
    for i in range(2,n//2+1):  
        if(n%i==0):  
            return(0)  
    return(1)  
  
N=int(input("Enter N:"))  
i=2 
lst=[] 
while(1):  
    if(Prime(i)):  
        lst.append(i) 
        if(len(lst)==N): 
            break 
    i+=1 
print("First "+str(N)+" Prime numbers are:",end="") 
print(*lst)

Enter N: 5

First 5 Prime numbers are:2 3 5 7 11

In [10]:
#22. Check if two sets are identical.
s1={1,2,3}
s2={1,2,3}

if s1==s2:
    print("both sets are identical")
else:
     print("both sets are not identical")

both sets are identical

In [11]:
#23. Create a frozen set
s={1,2,3,4,5}
frozen_set=frozenset(s)
print("Frozen set is:",frozen_set)

Frozen set is: frozenset({1, 2, 3, 4, 5})

In [12]:
#24. Check if a set is disjoint with another set.
a={1,2,3}
b={4,5,6}
disjoint=a.isdisjoint(b)
print("disjoint status is:",disjoint)

disjoint status is: True

In [14]:
#25. Create a set of squares of numbers from 1 to 5.

l=[i**2 for i in range(1,6)]
s=set(l)
s

{1, 4, 9, 16, 25}

In [18]:
#26. Filter out all even numbers from a set.
l=[i for i in range(1,11) if i%2==0]
s=set(l)
s

{2, 4, 6, 8, 10}

In [21]:
#27. Multiply all elements in a set by 2.

l=[i*2 for i in range(1,11)]
s=set(l)
s

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [28]:
#28. Create a set of random numbers.
import random
random_set=set()
n=int(input("Enter range:"))
for i in range(n):
    s=random.randint(1,21)
    random_set.add(s)
print("random number set is:",random_set)

Enter range: 5

random number set is: {2, 5, 11, 14, 17}

In [34]:
#29. Check if a set is empty.
s=set()

if not s:
    print("set is empty")
else:
    print("set is not empty")

set is empty

In [35]:
#30. Create a nested set (hint: use frozenset)
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [3]:
#31. Remove an element from a set using the discard method.
s={1,2,3,4,5}
s
s.discard(3)
s

{1, 2, 4, 5}

In [5]:
#32. Compare two sets.
s1={1,2,3,4,5}
s2={6,7,8,9,3,5,10}

print("Set 1:", s1)
print("Set 2:", s2)
print("Is set1 a subset of set2?",s1.issubset(s2))
print("Is set2 a subset of set1?", s2.issubset(s1))
print("Intersection:", s1.intersection(s2))
print("Union:", s1.union(s2))
print("Elements in set1 but not in set2:", s1.difference(s2))
print("Elements in set2 but not in set1:", s2.difference(s1))

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 5, 6, 7, 8, 9, 10}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {3, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Elements in set1 but not in set2: {1, 2, 4}
Elements in set2 but not in set1: {6, 7, 8, 9, 10}

In [6]:
#33. Create a set from a string.
s="pwskills"
chars=set(s)
print(chars)

{'k', 'i', 'p', 'l', 'w', 's'}

In [2]:
#34. Convert a set of strings to a set of integers.

s={"10","20","30","40","50"}
int_set=set()
for s1 in s:
    int_val=int(s1)
    int_set.add(int_val)
    
print("original string set:",s)
print("converted string set:",int_set)

original string set: {'20', '40', '30', '10', '50'}
converted string set: {40, 10, 50, 20, 30}

In [3]:
#35. Convert a set of integers to a set of strings.
int_set={10,20,30,40,50}
str_set=set()
for s1 in s:
    str_val=str(s1)
    str_set.add(str_val)
    
print("original string set:",int_set)
print("converted string set:",str_set)

original string set: {50, 20, 40, 10, 30}
converted string set: {'20', '50', '40', '30', '10'}

In [4]:
#36. Create a set from a tuple.
t=(1,2,3,4,5,2,3,4,1)
s=set(t)
s

{1, 2, 3, 4, 5}

In [5]:
#37. Convert a set to a tuple.
s={1,2,3,4,5}
t=tuple(s)
t

(1, 2, 3, 4, 5)

In [7]:
#38. Find the maximum value in a set.
s={90,-45,23,55,19}
print("max element is:",max(s))

max element is: 90

In [8]:
#39. Find the minimum value in a set.
s={90,-45,23,55,19}
print("min element is:",min(s))

min element is: -45

In [10]:
#40. Create a set from user input.
user_input_set=set()
while True:
    user_input=input(">")
    if user_input.lower()=="done":
        break
    else:
        user_input_set.add(user_input)
        
print(user_input_set)

> data science
> python
> machine learning
> statistics
> done

{'python', 'data science', 'machine learning', 'statistics'}

In [13]:
#41. Check if the intersection of two sets is empty.
s1={1,2,3}
s2={4,5,6}

intersect=s1.intersection(s2)
if not intersect:
    print("Intersection is empty")
else:
     print("Intersection is not empty")

Intersection is empty

In [15]:
#42. Create a set of the first 5 Fibonacci numbers.
fibo=set()
a,b=0,1
for i in range(5):
    fibo.add(a)
    a=b
    b=a+b
    
print("Fibonacci series is:",fibo)

Fibonacci series is: {0, 1, 2, 4, 8}

In [17]:
#43. Remove duplicates from a list using sets.

l=[1,2,2,4,6,5,2,1,1,7,4]
s=set(l)
s
l1=list(s)
l1

[1, 2, 4, 5, 6, 7]

In [20]:
#44. Check if two sets have the same elements, regardless of their count.
s1={1,2,3}
s2={1,2,3}

if(sorted(s1)==sorted(s2)):
    print("same elements")
else:
      print("different elements")

same elements

In [23]:
#45. Create a set of the first n powers of 2
n=int(input("Enter n:"))
l=[2**i for i in range(n)]
s=set(l)
s

Enter n: 5

{1, 2, 4, 8, 16}

In [24]:
#46. Find the common elements between a set and a list.
s1={1,2,3,4,5}
l=[2,4,5]
list_to_set=set(l)
common=[]
for ele in l:
    if ele in list_to_set:
        common.append(ele)
        
print("common elements:",common)

common elements: [2, 4, 5]

In [25]:
#47. Create a set of the first n triangular numbers.:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  7

The set of the first 7 triangular numbers is: {1, 3, 6, 10, 15, 21, 28}

In [27]:
#48. Check if a set contains another set as a subset.
s1={1,2,3,4,5}
s2={2,3}

if s2.issubset(s1):
    print("s2 is subset of s1")
else:
    print("s2 is not subset of s1")

s2 is subset of s1

In [28]:
#49. Create a set of alternating 1s and 0s of length n.
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [30]:
#50. Merge multiple sets into one.
s1={1,2,3}
s2={4,5,6}
s3={7,8,9}

print("Merged set is:",s1.union(s2,s3))

Merged set is: {1, 2, 3, 4, 5, 6, 7, 8, 9}